
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tr>
				<td>
					<%= link_to (@book_post.user) do %>
					<%= attachment_image_tag(@book_post.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
					<%= @book_post.user.name %>
					<% end %>
				</td>
				<td><%= link_to @book_post.title, @book %></td>
				<td><%= @book_post.body %></td>

				<td><% if @book_post.favorited_by?(current_user) %>
						<%= link_to book_favorites_path(@book_post), method: :delete do %> 
							<i class="glyphicon glyphicon-heart"><%= @book_post.favorites.count%></i>
						<% end %> 
					<% else %><%= link_to book_favorites_path(@book_post), method: :post do %> 
						<i class="glyphicon glyphicon-heart-empty"><%= @book_post.favorites.count %></i> 
						<% end %> 
					<% end %>
				</td>

				  
				<td>
					<p>コメント数 : <%= @book_post.book_comments.count %></p>
				</td>

				<% if current_user.id == @book_post.user_id %> 
				<td><%= link_to "Edit",edit_book_path(@book_post), class: "btn-sm btn-success edit_book_#{@book_post.id}" %></td>
				<td><%= link_to "Destroy",@book_post, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book_post.id}" %></td>
				<% end %>
			</tr>
		</table>

		<p><%= @book_post.book_comments.count %>件のコメント</p>
			<table class="table">
				<% @book_post.book_comments.each do |book_comment| %>
				<tr>
					<td width="50">
						<%= attachment_image_tag(book_comment.user, :profile_image, :fill, 40, 40, class: "img-circle pull-left profile-img", fallback: "no-image-mini.jpg") %>
					</td>
					<td width="30">
						<%= book_comment.user.name %>
					</td>
					<td>
						<p><%= book_comment.comment %></p>
					</td>
					<td width="110">
							<%= book_comment.created_at.strftime('%Y/%m/%d') %>
							<% if current_user.id == book_comment.user_id %>
								<%= link_to '', book_book_comments_path(@book_post, book_comment), class: "glyphicon glyphicon-remove", method: :delete %>
							<% end %>
					</td>
				</tr>
				<% end %>
			</table>

		<section>
        <% if @book_comment.errors.any? %>
        <div id="error_explanation">
        	<h2><%= @book_comment.count %>errors prohibted this book from being saved:</h2>
        	<ul>
             	<% @book_comment.full_messages.each do |message| %>
             	<li><%= message %></li>
             	<% end %>
             </ul>
         </div>
         <% end %>

		<%= form_for [@book_post, @book_comment] do |f| %>
            <%= f.text_area :comment, class: "form-control" %>
   				<%= f.submit "送信する", class: "btn btn-sm btn-primary" %>
		<% end %>
		</section>

	</div>
</div>

